<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<table>
<thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>

  </tr>
</thead>
<tbody>
<%#  
<div id="articles">
  <% @articles.each do |article| %>
    <%# <%= render article %>
    <%# <p>
      <%= link_to "Show this article", article %>
   <%#  </p>
  <% end %>
<%# </div> %>

<% @articles.each do |article| %>
  <tr>
    <td> <%= article.title %> </td>
    <td> <%= article.description %> </td>
    <td> Placeholder</td>
    
  </tr>
<%# 
<%= link_to "New article", new_article_path %> 
<% end %>
</tbody>
</table>
